<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <h1>Vue course Goals</h1> 
    </header>
    <section id="user-goals">
     <h2>My course Goals</h2>
     <input type="text" v-model="enterGoalValue">
     <button @click="addGoal">Add Goals</button>
     <p v-if="goals.length === 0">No Goals Have Been Added Yet - Please Start Adding Some!</p>
     <ul v-else>
        <li v-for="(goal, index) in goals" :key="goal" @click="removeGoal(index)">
     <p>{{ goal }} - {{ index  }}</p>
        <input type="text" @click.stop>
        </li>
    </ul>
       <button  class="button">
        <a href="./about.html">Go To back (about)</a>
    </button>
    <button  class="button">
        <a href="./html.html">Go To (html)</a>
    </button>
    </section>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./blog.js"></script>
</body>
</html>